body {
    background: #242625;
    color: aliceblue;
    
}
.container {
    max-width: 750px;
    padding: 50px;
   
}
.container button:hover {
    background: #80f2f6;
}
.container button:focus {
    background: #25b256;
    
}
.input input{
 width: 100%;
 box-sizing: border-box;
 margin-bottom: 7px;
border-radius: 5px;
border: 0 ;

}
.btn button{
    margin-bottom: 7px;
    width: 45%;
    box-sizing: border-box;
    border: 0 ;
     border-radius: 5px;
    
}

.box {
    width: 100%;
    height: 50px;
    background: #ffffff;
    padding: 10px;
}
.box p {
    color: black;
    text-align: center;
}